html {
    background-color: #212121;
}

body {
    background-color: #212121;
    color: white;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    min-width: fit-content;
    min-height: fit-content;
}

.state:hover {
    opacity: 0.8;
}

#state-view {
    position: absolute;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.888);
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    width: 320px;
}


h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
    text-decoration: underline;
}

#earnings-value {
    font-weight: 700;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row>span:nth-child(2) {
    flex-basis: auto;
    text-align: start;
}
.flex-row>span:nth-child(1) {
    margin-right: 8px;
}